@charset "utf-8";
/* 主题三右上样式 */
body{
	
	color:#ffffff;
	font-family:"微软雅黑";
	overflow-x:hidden;
}
.container{
	width: 1920px;
    height: 1200px;
    position: relative;
    background: url(../img/left/bg.png) no-repeat;
	perspective-origin: 0% 190%;
    -webkit-perspective-origin: 0% 190%;

}

.leftContainer{
    height: 815px;
    width: 1595px;
    transform: rotateY(-1deg);
    overflow: hidden;
    margin: 272px 0 0 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.leftTitle{
	height: 165px;
    line-height: 165px;
    font-size: 80px;
    text-align: center;
}

.leftContent .introduction{
	letter-spacing: 8px;
    margin-top: 200px;
    line-height: 90px;
    padding-left: 20px;
    font-size: 64px;
    text-indent: 145px;
}

.YearTjBox{
	margin-top: 58px;
    margin-left: 35px;
	transform: skewY(0.8deg);
	-webkit-transform: skewY(0.8deg);
}

.YearTjBoxItems{
	display: inline-block;
    margin-right: 66px;
    font-size: 44px;
}
.YearTjBoxItems:nth-child(4){
	margin-right:0px;
}

.YearTjBoxItems .fixed{
	display: inline-block;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}