<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>ledDisplayBack</display-name>
    <welcome-file-list>
        <welcome-file>ledDisplayFront/index.html</welcome-file>
        <welcome-file>ledDisplayFront/index.htm</welcome-file>
        <welcome-file>ledDisplayFront/index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description>DemoServlet_Description</description>
        <display-name>DemoServlet_Name</display-name>
        <servlet-name>DemoServlet</servlet-name>
        <servlet-class>gd.services.ledDisplay.demoProject.servlet.DemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/servlet/DemoServlet</url-pattern>
    </servlet-mapping>

    <!--        主题一Servlet     -->
    <servlet>
        <description>FirstThemeServlet_Description</description>
        <display-name>FirstThemeServlet_Name</display-name>
        <servlet-name>FirstThemeServlet</servlet-name>
        <servlet-class>gd.services.ledDisplay.wirelessProject.servlet.FirstThemeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstThemeServlet</servlet-name>
        <url-pattern>/servlet/FirstThemeServlet</url-pattern>
    </servlet-mapping>


    <!-- Spring 配置 begin-->
    <!-- ====================================== -->
    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 可以自定义servlet.xml配置文件的位置和名称，默认为WEB-INF目录下，名称为[<servlet-name>]-servlet.xml，如spring-servlet.xml
        <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-servlet.xml</param-value> 默认
        </init-param>
        -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- 指定Spring Bean的配置文件所在目录。默认配置在WEB-INF目录下 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <!-- ====================================== -->
    <!-- Spring配置 end-->


    <!-- log4j2 begin-->
    <!-- ====================================== -->
    <context-param>
        <param-name>isLog4jAutoInitializationDisabled</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- 默认就会找这个文件，不需要额外配置引用
    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>classpath:/log4j2.xml</param-value>
    </context-param>
    -->
    <listener>
        <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>log4jServletFilter</filter-name>
        <filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>log4jServletFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <!-- ====================================== -->
    <!-- log4j2 end-->

</web-app>