@charset "utf-8";
/* 主题一中间 */
html,body,div,img{margin:0;padding:0;}
body{width:1920px;height:1080px;background:url(../img/bg/centerBg.png) no-repeat;overflow:hidden;font-family:"微软雅黑"}

.bottomLegend{position:fixed;left:50%;margin-left:-400px;bottom:20px;}

/*北京地图*/
.BeijingMap{width:166px;height:177px;background:url(../img/center/site/BeijingMapBg.png);position:absolute;top:260px;left:880px;z-index:4;}
.BeijingMapLine{position:absolute;top:382px;left:1004px;z-index: 3;}

#ChinaMap{width:1000px;height:1000px;position:absolute;top:95px;left:453px;z-index:1}
.MapTopContainer{position:fixed;top: 105px;left: 50%;margin-left: -461px;}
.ddlwhModel{width:384px;height:41px;margin:0 auto;position: relative;left:-50px;text-align:center;background:url(../img/center/mapTopContainerBg2.png) no-repeat;}
.ddlwhModel_title{font-size:16px;font-weight:bold;background-image:-webkit-linear-gradient(top,#9bf9dd,#0095fe); -webkit-background-clip:text;-webkit-text-fill-color:transparent;line-height:41px;}
.ddlwhModel_content{font-size:18px;line-height:41px;color:#ffffff;}

.ddllcModel{width:923px;height:56px;padding-left:80px;padding-top:10px;background:url(../img/center/mapTopContainerBg1.png) no-repeat;overflow:hidden;}
.ddllcModel .ddlcModel_item{float:left;margin-right:50px;}
.ddlcModel_item img{display:inline-block;margin-right:5px;}
.ddlcModel_item_Name{font-size:14px;font-weight:bold;color:#01fff6;display:inline-block;text-align:center;}
.ddlcModel_item_value{margin-left:10px;width:75px;font-size:12px;color:#ffffff;display:inline-block;}


/*站点信息轮播弹出层*/
.siteInfoBox{width:561px;height:569px;position:absolute;left:380px;top:330px;z-index:10;perspective:500px;}

.siteInfoContainer{width:561px;height:569px;overflow:hidden;background:url(../img/center/alertBox/alertBoxBg.png) no-repeat;}
.transformerLeft{transform-origin:left center;transform:rotateY(12deg)}
.transformerRight{transform-origin:right center;transform:rotateY(-12deg);}

.siteInfoBox_title{width:235px;height:42px;line-height:42px;margin:0 auto;margin-top:8px;font-size:18px;font-weight: bold;color:#ffffff;text-align:center;}

.siteDesGroup1{width:53px;height:50px;background:url(../img/center/alertBox/desSign1.png) no-repeat;position:relative;left:135px;top:48px;}
.siteDesBar1{width:150px;height:25px;line-height:25px;font-size:12px;font-weight:bold;color:#0fffff;text-align:center;background:url(../img/center/alertBox/desBox1.png) no-repeat;}
.siteDesBar1 span{background-image:-webkit-linear-gradient(top,#fef55a,#e8b705); -webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.siteDesGroup1 .item1{position:absolute;position:absolute;left:-50px;top:-30px;}
.siteDesGroup1 .item2{position:absolute;left:-130px;top:4px;}
.siteDesGroup1 .item3{position:absolute;left:20px;top:4px;}
.siteDesGroup1 .item4{position:absolute;left:-50px;top:45px;}

.siteDesGroup2{width:53px;height:46px;background:url(../img/center/alertBox/desSign2.png) no-repeat;position:relative;left:375px;top:28px;}
.siteDesBar2{width:150px;height:45px;font-size:12px;font-weight:bold;color:#0fffff;text-align:center;background:url(../img/center/alertBox/desBox2.png) no-repeat;padding-top: 5px;
    overflow: hidden;}
.siteDesBar2 span{background-image:-webkit-linear-gradient(top,#fef55a,#e8b705); -webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.siteDesGroup2 .item1{position:absolute;position:absolute;left:-40px;top:-50px;}
.siteDesGroup2 .item2{position:absolute;left:-130px;top:4px;}
.siteDesGroup2 .item3{position:absolute;left:30px;top:4px;}
.siteDesGroup2 .item4{position:absolute;left:-50px;top:55px;}
.siteDesGroup2 .item5{position:absolute;left:-120px;top:82px;}
.siteDesGroup2 .item6{position:absolute;left:25px;top:82px;}


/*动态流程背景*/
@keyframes BottomContentFlash
{
	0%{background:url(../img/center/alertBox/BottomContentBg1.png) no-repeat;}
	33%{background:url(../img/center/alertBox/BottomContentBg2.png) no-repeat;}
	66%{background:url(../img/center/alertBox/BottomContentBg3.png) no-repeat;}
	100%{background:url(../img/center/alertBox/BottomContentBg4.png) no-repeat;}
}
.BottomContent{width:487px;height:284px;margin:0 auto;margin-top:120px;/*background:url(../img/center/alertBox/BottomContentBg.png) no-repeat;*/animation:BottomContentFlash 1s linear infinite ;transition:1s;}
.BottomContent_center_TjBox{float:left;margin-right:20px;}
.BottomContent_center_TjBox_name{font-size:12px;font-weight:bold;color:#ffffff;}
.BottomContent_center_TjBox_Data{font-size:16px;font-weight:bold;font-family:DataFont;background-image:-webkit-linear-gradient(top,#fef55a,#e8b705); -webkit-background-clip:text;-webkit-text-fill-color:transparent;font-style: oblique;}
.BottomContent_center_TjBox_Data span{font-size:12px;font-family:"微软雅黑"}
.BottomContent_center{overflow:hidden;}
.BottomContent_centerContainer{margin-left: 240px;margin-top: 25px;}
.BottomContent_center_DetailContainer li{float:left;}
.BottomContent_center_DetailContainer .detail_Name{font-size:12px;color:#ffffff;}
.BottomContent_center_DetailContainer .detail_Value{font-size:14px;font-weight:bold;font-family:DataFont;width:45px;margin-left:5px;display:inline-block;}
.NomalDetail{color:#61ff3c;}
.FreeDetail{color:#2f6fff;}
.RepairDetail{color:#ffd83c;}
.BrokenDetail{color:#ff1f1f;}
.UnknowDetail{color:#8e8e8e;}

/*机房状态信息*/
.jfStateBox{margin:50px 0 0 120px;}
.jfNum{width:27px;height:18px;margin-right:30px;border-radius:2px;border:1px solid #007cfb;font-size:14px;font-weight:bold;color:#ffffff;display:inline-block;text-align:center;}
.jfNameTop{width:60px;font-size:14px;display:inline-block;}
.jfName{width:60px;font-size:14px;font-weight:bold;color:#ffffff;display:inline-block;margin-right:5px;}
.jfStateLight{width:17px;height:14px;margin-right:42px;display:inline-block;}
.Normal{background:url(../img/center/jfState/jcNormalIcon.png) no-repeat;}
.Free{background:url(../img/center/jfState/jcFreeIcon.png) no-repeat;}
.Repair{background:url(../img/center/jfState/jfRepairIcon.png) no-repeat;}
.Broken{background:url(../img/center/jfState/jfBrokenIcon.png) no-repeat;}
.Unknown{background:url(../img/center/jfState/jfUnknownIcon.png) no-repeat;}

/*数据球左侧*/
.DataBallGroupLeft{position:fixed;}
.DataBallGroupLeft .DataBallGreen1{position:absolute;top:250px;left:10px;z-index:5;}
.DataBallGroupLeft .DataBallOrange{position:absolute;top:470px;left:-40px;z-index:5;}
.DataBallGroupLeft .DataBallGreen2{position:absolute;top:705px;left:10px;z-index:5;}

.DataBallGreen1 .DataBallAssembly_Data{margin-top:30px;font-size:40px;color:#ffffff;font-family:DataFont;font-style: oblique;}
.DataBallGreen1 .unit{font-size:16px;font-weight:bold;}
.DataBallGreen1 .DataBallAssembly_Name{margin-top:5px;font-size:14px;font-weight:bold;color:#ffffff;}

.DataBallOrange .DataBallAssembly_Data{margin-top:30px;font-size:40px;color:#ffffff;font-family:DataFont;font-style: oblique;}
.DataBallOrange .unit{font-size:16px;font-weight:bold;}
.DataBallOrange .DataBallAssembly_Name{margin-top:5px;font-size:14px;font-weight:bold;color:#ffffff;}

.DataBallGreen2 .DataBallAssembly_Data{margin-top:30px;font-size:40px;color:#ffffff;font-family:DataFont;font-style: oblique;}
.DataBallGreen2 .unit{font-size:16px;font-weight:bold;}
.DataBallGreen2 .DataBallAssembly_Name{margin-top:5px;font-size:14px;font-weight:bold;color:#ffffff;}

/*数据球右侧*/
/* .DataBallGroupRight{} */
.DataBallGreen1Mini{position:absolute;top:400px;right:0px;z-index:5;}
.DataBallGreen1Mini .DataBallAssembly_Data{margin-top:10px;font-size:28px;color:#ffffff;font-family:DataFont;font-style: oblique;}
.DataBallGreen1Mini .unit{font-size:12px;font-weight:bold;}
.DataBallGreen1Mini .DataBallAssembly_Name{font-size:12px;font-weight:bold;color:#ffffff;}

.DataBallOrangeMini{position:absolute;top:600px;right:0px;z-index:5;}
.DataBallOrangeMini .DataBallAssembly_Data{margin-top:10px;font-size:28px;color:#ffffff;font-family:DataFont;font-style: oblique;}
.DataBallOrangeMini .unit{font-size:12px;font-weight:bold;}
.DataBallOrangeMini .DataBallAssembly_Name{font-size:12px;font-weight:bold;color:#ffffff;}

.DataBallGroupRight .DataBallGreen1{position:absolute;top:250px;right:10px;z-index:5;}
.DataBallGroupRight .DataBallOrange{position:absolute;top:705px;Right:10px;z-index:5;}

/*卫星阵列*/
.sateliteGroup{position:absolute;top:110px;left:100px;animation:SateliteFlash 3s linear infinite alternate;transition:1s;}
/*卫星悬浮*/
@keyframes SateliteFlash
{
	0%{position:absolute;top:110px;left:100px;}
	100%{position:absolute;top:100px;left:100px;}
}

/*敌台打点*/
#enmey1{position:absolute;left:1355px;top: 590px;z-index:1}
#enmey2{position:absolute;left:1210px;top: 760px;z-index:1}

/*左下角国际台*/
.nationSiteBox{width:221px;height:252px;position:absolute;left:190px;bottom:40px;z-index:2;perspective:500px;}
/* .nationSiteBox img{} */

/*右下角发射机状态*/
.fsjStateBox{width:221px;height:252px;position:absolute;right:190px;bottom:40px;z-index:2;perspective: 500px;}
/* .fsjStateContainer{} */
